.w-full {
  width: 100%;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.overline {
  letter-spacing: .125rem;
  text-transform: uppercase;
}

.mono {
  font-family: "Source Code Pro", monospace;
}

.list-style-none {
  list-style-type: none;
}

.text-decoration-none {
  text-decoration: none;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-0.\5 {
  padding: 0.5rem;
  /* margin: 0.5rem; */
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* 4 = 1rem = 16px; 1 = 0.25rem = 4px */
.my-0\.5{
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-3\.75 {
  margin-bottom: 3.75rem;
}

.text-primary-regular {
  color: var(--primary-regular);
}

.text-primary-dark {
  color: var(--primary-dark);
}

.text-white {
  color: var(--white)
}

.bg-primary-darker {
  background-color: var(--primary-darker);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
}

.gap-0\.5 {
  gap: 0.5rem;
}

.gap-3\.75 {
  gap: 3.75rem;
}

.options-container {
  border-right: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  width: 230px;
}

.list-container {
  display: flex;
  border-top: 1px solid #E5E5E5;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-note {
  width: 600px;
  margin-top: 1rem;
  margin-bottom: 3.75rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 20px;
}

.new-note > input,
.new-note > textarea {
  border: none;
}

.notes-container {
  padding: 0%;
  width: 100%;
}

.align-item__end {
  flex-grow: 1;
  align-items: end;
}

.svg-custom {
  background-position: center;
  background-repeat: no-repeat;
}

.jc__space-between {
  justify-content: space-between;
}

.border-color-white {
  border-color: white;
  background-color: white;
  border-style: none;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.green{
  background-color: green;
}

.options-container > * {
  margin-top: 20px;
  margin-left: 5px;
  width: 280px;
  height: 48px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}


.menu-options {
  display: flex;
  flex-direction: row;
}

.input-color-style-none {
  appearance: none;
  /* background-color: black; */
  border-style: none;
    border-color: none;
    border-image: none;
    color: none;
    -webkit-appearance: none;
}

input[type='color'] {
  /* padding: 0;
  width: 50%;
  height: 50%;
  margin: -25%;
  opacity: 0.5; */
  /* background: rgba(0, 0, 0, 0);
  border: none;
  outline: none; */
  background-color: transparent;
  border: 6px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width:5px;
  color:transparent;
  cursor:default;
  background-image: url("./css/imagen/icon-paleteishon.svg");
  /* background-repeat: no-repeat; */
}

.cp_wrapper {
  overflow: hidden;
  width: 2em;
  height: 2em;
  border-radius: 80%;
  box-shadow: 1px 1px 3px 0px white;
  opacity: 0.5;
}

/* .palete {
  background-image: url(./css/imagen/icon-paleteishon.svg);
  background-repeat: no-repeat;
  background-position: <left|right>;
  padding-<left|right>: 12px;
} */


